/**
 * https://github.com/IonicaBizau/gridly | MIT
 */


.row-mobile{display:-webkit-box;display:flex}.row-mobile .col { flex: 1; }
.row{display:-webkit-box;display:flex}.col{-webkit-box-flex:1;flex:1}@media(max-width:960px){.hide-on-mobile{display:none!important}.row{-webkit-box-orient:vertical;-webkit-box-direction:normal;flex-direction:column}.col{-webkit-box-flex:0;flex:0 0 auto}}
@media(min-width:960px){.hide-on-desktop{display:none}.col-tenth{-webkit-box-flex:0;flex:0 0 10%}.col-fifth{-webkit-box-flex:0;flex:0 0 20%}.col-quarter{-webkit-box-flex:0;flex:0 0 25%}.col-third{-webkit-box-flex:0;flex:0 0 33.3333334%}.col-half{-webkit-box-flex:0;flex:0 0 50%}}


// https://codepen.io/jcplus/pen/oebJRO
// Waterfall grid
.grid {
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 15px;
  column-fill: auto;
}
.block {
  display: block; 
  word-wrap: break-word; 
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid; 

  &:hover {
    box-shadow: 0 16px 32px rgba(0,0,0, 0.15);
  }
} 