.icon--2x {
  height: 80px;
  width: auto;
  margin-bottom: 24px;
}

main {
  padding: 5vw;
  padding-bottom: 160px;
  background-color: #FF4D00;
  color: #fff;
  a, .accented { color: #FFE8A2; }
}
 
.images {
  position: relative;
  top: -120px;
} 

#features {
  position: relative;
  top: -90px;
} 

.h1 {
  line-height: 0.9;
  font-size: 80px; 
  margin-bottom: 3vw;
}

@media (max-width: 720px) {
  .h1 {
    font-size: 40px;
    margin: 40px 0;
    display: block;
  }
}

.links-block a {
  display: block; 
}