/**
 * Reset
 */

h1, h2, h3 {
  font-weight: 800;
  font-size: normal;
  margin: 0;
}

p { margin-top: 0; }

/**
 * Classes
 */
 
.silent a:hover, a.silent:hover { color: default; }
 
.highlighted-bg {
  background: #fafafa;
}
.white { color: #fff; }
.white a { color: #fff; }

.caps { text-transform: uppercase; }

.big, .markdown h3, .markdown h2, .markdown h4 {
  font-weight: 700; 
  line-height: 1.15;
}

.markdown h3, .markdown h4, .markdown h2 {
  margin: 48px 0;
}
 
.med { font-weight: 500; }

.h1, .h2, .h3, .big { 
  letter-spacing: -1px;
  color: #000;
  line-height: 1.1;
}

.h1 {
  font-size: 3.25rem;
}
.h2 {
  font-size: 2.5rem;
}
.h3 {
  font-size: 2rem;
}
.h4 {
  font-size: 1.5rem;
}
.h5 {
  font-size: 1.25rem;
}
.h6 {
  font-size: 1rem;
}

@media (max-width: 640px) {
  .h2 {
    font-size: 2rem;
  }
}