<div class="padd-xl"></div>
 <div class="contain">
   
<style>
    .tags a {
      display: block;
      width: 100%;
      padding: 10px;
      border-bottom: 2px solid #eee;
    }
    </style>
    
    
    <a href="/subtype/oss/" class="tag">
      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="currentColor" d="M15.41,22C15.35,22 15.28,22 15.22,22C15.1,21.95 15,21.85 14.96,21.73L12.74,15.93C12.65,15.69 12.77,15.42 13,15.32C13.71,15.06 14.28,14.5 14.58,13.83C15.22,12.4 14.58,10.73 13.15,10.09C11.72,9.45 10.05,10.09 9.41,11.5C9.11,12.21 9.09,13 9.36,13.69C9.66,14.43 10.25,15 11,15.28C11.24,15.37 11.37,15.64 11.28,15.89L9,21.69C8.96,21.81 8.87,21.91 8.75,21.96C8.63,22 8.5,22 8.39,21.96C3.24,19.97 0.67,14.18 2.66,9.03C4.65,3.88 10.44,1.31 15.59,3.3C18.06,4.26 20.05,6.15 21.13,8.57C22.22,11 22.29,13.75 21.33,16.22C20.32,18.88 18.23,21 15.58,22C15.5,22 15.47,22 15.41,22M12,3.59C7.03,3.46 2.9,7.39 2.77,12.36C2.68,16.08 4.88,19.47 8.32,20.9L10.21,16C8.38,15 7.69,12.72 8.68,10.89C9.67,9.06 11.96,8.38 13.79,9.36C15.62,10.35 16.31,12.64 15.32,14.47C14.97,15.12 14.44,15.65 13.79,16L15.68,20.93C17.86,19.95 19.57,18.16 20.44,15.93C22.28,11.31 20.04,6.08 15.42,4.23C14.33,3.8 13.17,3.58 12,3.59Z" />
      </svg>
      Open Source
    </a>
    
    
    <a href="/tags/lithuanian/" class="tag">Made in Lithuania</a>
    
    
    
    <details style="display: inline-block">
      <summary style="display: inline-block" class="tag clickable">
        Filters
      </summary>
      
      <div class="tags padd-l"> 
        <p><b>Type of work</b></p>
    
        <a href="/portfolio-archive/">Show everything</a>
        <a href="/subtype/complete-redesign/">Complete redesigns (big projects)</a>
        <a href="/subtype/web-design/">Web design</a>
        <a href="/subtype/web-design-and-development/">Web design and development</a>
        <a href="/subtype/graphic-design/">Graphic design</a>
        <a href="/subtype/branding/">Branding</a>
        <a href="/subtype/animated-graphic-design/">Animated graphic design</a>
        
    
        <p><b>Circumstance</b></p>
    
        <a href="/tags/on-short-notice/">Made on short notice</a>
        <a href="/tags/lithuanian/">Made in Lithuania</a>
        <a href="/tags/pro-bono/">Made pro bono</a>
        <a href="/tags/collab/">Made in collaboration</a>
        <a href="/tags/personal/">Made for me</a>
        
        <p><b>Purpose / industry</b></p>
    
        <a href="/tags/individuals/">By and for individuals</a>
        
        <a href="/tags/commercial/">Commercial / for-profit</a>
        
        <a href="/tags/oss/">Open Source</a>
        
        <a href="/tags/concept/">Concepts</a>
        
        <a href="/tags/special/">Special / novelty projects</a>
      </div>
    </details>
     
    
 </div>


<!-- 
<div class="contain padd-l">

  <p class="h5 med center-mobile"><span class="buried">
    <a href="/portfolio/">Portfolio</a>

  </span> &nbsp; / &nbsp; Find work with these filters</p>

  <div class="row">
    <div class="dropdown col padd-xs">
      <button onclick="showColumnOne()" class="dropdown__trigger">Type of work</button>
      <div id="ColumnOne" class="dropdown-content">
        
      </div>
    </div>

    <div class="dropdown col padd-xs">
      <button onclick="showColumnTwo()" class="dropdown__trigger">Project circumstances</button>
      <div id="ColumnTwo" class="dropdown-content">




      </div>
    </div>

    <div class="dropdown col padd-xs">
      <button onclick="showColumnThree()" class="dropdown__trigger">Purpose / industry</button>
      <div id="ColumnThree" class="dropdown-content">
        
      </div>
    </div>
  </div>

  <div class="padd-xs"></div>
</div> -->